*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #34495e;
    margin: 50px 20vw;
    
}

@media screen and (max-width: 380px){
    body{
        margin: 50px 5vw;
    }
    
}

.input{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    display: flex;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 400px){
    .input{
        flex-direction: column;
    }
}

input{
    outline: none;
    padding: 10px;  
}


.input button{
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    color: #FFF;
    cursor: pointer;
}

ul{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-top: 20px;
    list-style-type: none;
 

}

.done , .delete{
    background-color: #e74c3c;
    color: #FFF;
    border: none;
    padding: 5px;
    cursor: pointer;
    vertical-align: middle;
    
}

li{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-top: 5px;
}

p{
    word-wrap:break-word;
}


